body {
    margin: 0px;
    padding: 0px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    background: url(./100\ Beautiful\ Ultra\ HD\ 4K\ Wallpapers\ Pack-51\ \(51\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#main-container {
    width: 320px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: white;
    border-radius: 10px;
    padding: 40px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

#timer {
    font-size: 4em;
}

#buttons {
    text-align: center;
}

button {
    text-align: center;
    border: none;
    background-color: white;
    border-radius: 10px;
}

button i {
    font-size: 2rem;
    padding: 10px;
    color: white;
    width: 50px;
    margin: 0px 10px;
    border-radius: 10px;
}

#play {
    background-color: green;
}

#pause {
    background-color: yellow;
}

#reset {
    background-color: red;
}